# 1. Selecao

## Objetivo:
   * Selecionar os dados que far√£o parte do modelo

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Database/acidentes_2016.csv", sep=";")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12515 entries, 0 to 12514
Data columns (total 44 columns):
ID            12515 non-null int64
LONGITUDE     12515 non-null float64
LATITUDE      12515 non-null float64
LOG1          12515 non-null object
LOG2          3997 non-null object
PREDIAL1      12515 non-null int64
LOCAL         12515 non-null object
TIPO_ACID     12515 non-null object
LOCAL_VIA     12515 non-null object
QUEDA_ARR     12515 non-null int64
DATA          12515 non-null object
DATA_HORA     12515 non-null object
DIA_SEM       12515 non-null object
HORA          12512 non-null object
FERIDOS       12515 non-null int64
FERIDOS_GR    12515 non-null int64
MORTES        12515 non-null int64
MORTE_POST    12515 non-null int64
FATAIS        12515 non-null int64
AUTO          12515 non-null int64
TAXI          12515 non-null int64
LOTACAO       12515 non-null int64
ONIBUS_URB    12515 non-null int64
ONIBUS_MET    12515 non-null int64
ONIBUS_INT    12515 non-null int64
CAMINHAO      12515 non-null int64
MOTO          12515 non-null int64
CARROCA       12515 non-null int64
BICICLETA     12515 non-null int64
OUTRO         12515 non-null int64
TEMPO         12515 non-null object
NOITE_DIA     12512 non-null object
FONTE         12515 non-null object
BOLETIM       12515 non-null int64
REGIAO        12515 non-null object
DIA           12515 non-null int64
MES           12515 non-null int64
ANO           12515 non-null int64
FX_HORA       12512 non-null float64
CONT_ACID     12515 non-null int64
CONT_VIT      12515 non-null int64
UPS           12515 non-null int64
CONSORCIO     775 non-null object
CORREDOR      12515 non-null int64
dtypes: float64(3), int64(27), object(14)
memory usage: 4.2+ MB

In [7]:
df = df[['LOCAL', 'TIPO_ACID', 'AUTO', 'TAXI', 'LOTACAO', 'ONIBUS_URB', 'ONIBUS_MET', 'ONIBUS_INT', 'CAMINHAO', 'MOTO', 'CARROCA', 'BICICLETA', 'HORA', 'DIA_SEM', 'TEMPO', 'REGIAO', 'FATAIS', 'FERIDOS_GR']]

In [9]:
df.to_csv("../Database/1.Dados_Selecionados/Round2_dados_selecionados.csv", index=False)

---